<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content="width=device-width, initial-scale=1.0">
        <title>testchat</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <style>
            .card-body{
                padding:0.5rem;
                
            }
            .mt-4, .my-4 {
                margin-top: 0.9rem!important;
                margin-bottom: 0.2rem;
                width:50%;
            }
            .container{
                margin-top:0.5rem;
            }
            
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a routerLink="/" class="navbar-brand" href="http://localhost:3000">ChatRoom</a>
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" href="signup">SignUp</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="signin">SignIn</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="signout" id="signout">SignOut</a>
            </li>
            </ul>
        </nav>
        <div class="container">
            <h1 class="mb-4" id="Header">SignIn</h1>
            <form>
                <form class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </form>
                <form class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </form>
                <button id="send_btn" class="btn btn-primary">SignIn</button>
            </form>
        </div>
    </body>

    <script>
        let email    = document.getElementById('email');
        let password = document.getElementById('password');
        let send_btn = document.getElementById('send_btn');

        send_btn.addEventListener('click', async (e) => {
            e.preventDefault();
            await send_user_info_from_input();
            location.replace("http://localhost:3000/")
        })

        function send_user_info_from_input() {
            if(email.value && password.value) {
                console.log("sended");
                return signin_user_check_db(email.value, password.value);
            } else {
                alert("SOMTHING_IS_EMPTY");
            }
        } 
        
        const signin_user_check_db = async (email, password) => {
            const sending_data = {'email':email, 'password':password};
            const res = await fetch("users/signin/", {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json;charset=utf-8'
                },
                body: JSON.stringify(sending_data)
            });
            if (res.status === 200 || res.status === 201) {
                return res;
            }
            return undefined;
        }

        var signout_btn = document.getElementById("signout");
        signout_btn.addEventListener("click", async function(e) {
            e.preventDefault();
            let response = await fetch('users/signout/',{
                method: 'POST',
                headers:{
                    'Content-Type' : 'application/json;charset=utf-8'
                },
                body:''
            }).then(response => {
                if(response.status === 200 || response.status === 201) {
                    location.reload();
                } else {
                    console.error(res.statusText);
                }
            }).catch(err => console.error(err));
        });
        
    </script>
</html>